[Unit]
Description=Remote Control to MQTT Service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/pifacedigitalio/examples/relaycontrol.py &
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=RemoteControl
User=pi
Restart=always
RuntimeMaxSec=604800

[Install]
WantedBy=multi-user.target
